@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  padding: 1rem;
  background-color: rgb(160, 153, 153);
  width: 400px;
  height: 500px;
  border-radius: 10px;
  margin: auto;
  margin-top: 10px;
}
